@model OnlineShop.Domain.Entities.SheepingDetails

@{
    ViewBag.Title = "Checkout";
}

<h2>Fill The Order</h2>
@using (Html.BeginForm())
{
    @Html.ValidationSummary();
    <div>
        Name: @Html.EditorFor(x => x.Name)
    </div>
    <div>

        Line 1: @Html.EditorFor(x => x.Line_1)
    </div>
    <div>
        Line 2: @Html.EditorFor(x => x.Line_2)
    </div>
    <div>
        Line 3: @Html.EditorFor(x => x.Line_3)
    </div>
    <div>
        City: @Html.EditorFor(x => x.City)
    </div>
    <div>
        State: @Html.EditorFor(x => x.State)
    </div>
    <div>
        Name: @Html.EditorFor(x => x.Country)
    </div>
   
}
    <p align="center">
        <input class="btn btn-primary" type="submit" value="Complete"
    </p>

